[package]
name = "parquet-wasm"
version = "0.3.0"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
description = "WebAssembly Parquet reader and writer."
readme = "README.md"
repository = "https://github.com/kylebarron/parquet-wasm"
license = "MIT OR Apache-2.0"
keywords = ["parquet", "webassembly", "arrow"]
categories = ["wasm"]

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["arrow1", "parquet_supported_compressions", "reader", "writer"]
arrow1 = ["arrow", "parquet"]
reader = []
writer = []
debug = ["console_error_panic_hook", "clap"]

parquet_supported_compressions = [
  "parquet/brotli",
  "parquet/flate2",
  "parquet/snap",
  "parquet/zstd",
]

parquet2_supported_compressions = [
  "parquet2/brotli",
  "parquet2/gzip",
  "parquet2/snappy",
]

# Full list of available features
full = [
  "arrow",
  "arrow2",
  "console_error_panic_hook",
  "parquet",
  "parquet2",
  "parquet/brotli",
  "parquet/flate2",
  # lz4_flex not implemented yet
  # "parquet/lz4",
  "parquet/snap",
  "parquet/zstd",
  "parquet2/brotli",
  "parquet2/gzip",
  # lz4_flex not implemented yet, pending https://github.com/jorgecarleitao/parquet2/pull/91
  # "parquet2/lz4",
  "parquet2/snappy",
  # ZSTD should work in parquet2's next release, already merged
  # "parquet2/zstd",
  "reader",
  "writer",
]

[dependencies]
wasm-bindgen = "0.2.80"

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.6", optional = true }

# `wee_alloc` is a tiny allocator for wasm that is only ~1K in code size
# compared to the default allocator's ~10K. It is slower than the default
# allocator, however.
# if wee_alloc only saves 10KB, might not be worth the slower allocation speed?
# wee_alloc = "0.4.5"

js-sys = "0.3.53"
getrandom = { version = "0.2.6", features = ["js"] }
web-sys = { version = "0.3", features = ["console"] }

arrow2 = { version = "0.10", optional = true, features = [
  "io_ipc",
  "io_parquet",
] }
# parquet2 is only used indirectly through arrow2, but we define it here so that we can turn on
# parquet2 features as needed, e.g. with --features parquet2/gzip
parquet2 = { version = "0.10", default_features = false, optional = true, features = [
  "stream",
] }

arrow = { version = "11.1", default-features = false, optional = true }
parquet = { version = "11.0", default-features = false, optional = true, features = [
  "arrow",
  "base64",
] }

clap = { version = "3.1.12", optional = true, features = ["derive"] }

[dev-dependencies]
wasm-bindgen-test = "0.3.13"

[[bin]]
name = "read_parquet"
required-features = ["debug", "arrow1"]

[[bin]]
name = "write_parquet"
required-features = ["debug", "arrow1"]

[[bin]]
name = "read_parquet2"
required-features = ["debug", "arrow2"]

[[bin]]
name = "write_parquet2"
required-features = ["debug", "arrow2"]

[profile.release]
# Tell `rustc` to optimize for small code size.
# As of 3/15/22, opt-level = s was smallest
# https://github.com/kylebarron/parquet-wasm/pull/48
opt-level = "s"
lto = true
